:root {
    --dm-font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --dm-font-monospace: 'Courier New', Courier, monospace;
    --dm-font-key: LucidaGrande, Osaka, AppleGothic, monospace;
    --dm-color-background: #522F60;
    --dm-color-panel-background: #EBF6F7;
    --dm-color-attention: #FEF263;
}

body {
    background-color: var(--dm-color-background);
}

#dm-contents {
    display: flex;
    flex-wrap: wrap;
}
.dm-md-content {
    background-color: var(--dm-color-panel-background);
    width: 15em;
    margin: 5px;
    padding: 0 1em;
    border-radius: 10px 3px;
    box-shadow: 7px 7px 3px #55A;
}

/* Key Bindings */
.dm-hotkey {
    font-family: var(--dm-font-key);
    background-color: #DDE;
    border-radius: 5px;
    padding: 3px;
}

/* Anchors */
.dm-anchor {
    color: #38A1DB;
    font-size: 0.8em;
    margin-left: 0.5em;
}
.dm-anchor:hover {
    color: var(--dm-color-attention);
    -webkit-text-stroke: 3px #38A1DB;
}

/* Chosen items */
.dm-choice {
    font-family: var(--dm-font-key);
    color: var(--dm-color-attention);
    -webkit-text-stroke: 1px var(--dm-color-background);
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
}

